.content {
  display: flex;
  flex-direction: column;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}
.info {
  box-shadow: #323232 0 0 5px;
  width: 100vw;
  height: 100vh;
}
.info-text {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.body div {
  width: 98vw;
}
.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.foot button {
  width: 30vw;
  margin: 2%;
}
