<div class="header">
<!--    <img src="../talpabox-app/assets/images/img.png" height="30" width="175" alt="TalpaBox"/>-->
      <img style="cursor: pointer" src="../assets/images/img.png" height="30" width="175" alt="TalpaBox"/>
</div>
<div class="body-app">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
  </form>
  <div class="mb-3">
    <label for="path" class="form-label">Path</label>
    <input class="form-control" id="path" type="text" [value]="path">
  </div>
</div>
<div class="foot">
  <button mat-raised-button (click)="getPath()">GetPath</button>
  <button mat-raised-button>World</button>
</div>
