.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #000000;
  height: 5vh;
}
.body-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

.body-app div {
  width: 50vw;
}
.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.foot button {
  width: 30vw;
}
