.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #323232;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 5vh;
}
.content {
  display: flex;
  flex-direction: column;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

.body div {
  width: 50vw;
}
.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.foot button {
  width: 20vw;
}
