<div class="body"  (keyup.escape)="onClose()" (keyup.enter)="onLogin()">
  <form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" autofocus aria-describedby="emailHelp"  formControlName="username" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" required>
    </div>
  </form>
  <div class="buttons">
    <button mat-raised-button (click)="onLogin()">Connect</button>
    <button mat-raised-button (click)="onLogout()">Disconnect</button>
    <button mat-raised-button (click)="onClose()">Close</button>
  </div>
</div>
